# .env.example
# Cloudinary Credentials
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Email Credentials (for Contact Form)
# Use a Gmail App Password if using Gmail
EMAIL_USER=rakayf308@gmail.com
EMAIL_PASS=
